USE [master]
GO
/****** Object:  Database [KPMurtazin]    Script Date: 27.02.2026 10:09:27 ******/
CREATE DATABASE [KPMurtazin]
GO
USE [KPMurtazin]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[SaleDateTime] [datetime2](7) NOT NULL,
	[ShiftID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[CashRegisterID] [nvarchar](20) NULL,
	[FiscalDocumentNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleItems]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleItems](
	[SaleItemID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[BarcodeScanned] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[SaleItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[ParentCategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Barcode] [nvarchar](50) NOT NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[Model] [nvarchar](100) NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[WarrantyMonths] [int] NULL,
	[MinStockLevel] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_PopularProducts]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- Изменяем представление, добавляя уникальный идентификатор
CREATE VIEW [dbo].[v_PopularProducts] AS
SELECT 
    ROW_NUMBER() OVER (ORDER BY SUM(si.Quantity) DESC) AS RowID,
    p.ProductID,
    p.ProductName,
    p.Barcode,
    c.CategoryName,
    SUM(si.Quantity) AS TotalSold,
    COUNT(DISTINCT s.SaleID) AS NumberOfReceipts
FROM SaleItems si
JOIN Sales s ON si.SaleID = s.SaleID
JOIN Products p ON si.ProductID = p.ProductID
JOIN Categories c ON p.CategoryID = c.CategoryID
WHERE s.SaleDateTime >= DATEADD(DAY, -30, GETDATE())
GROUP BY p.ProductID, p.ProductName, p.Barcode, c.CategoryName
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[PositionID] [int] NOT NULL,
	[HireDate] [date] NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[PassportData] [nvarchar](255) NULL,
	[INN] [nvarchar](12) NULL,
	[IsActive] [bit] NOT NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[PhotoData] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryActs]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryActs](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[PerformedBy] [int] NOT NULL,
	[ZoneID] [int] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryDetails]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryDetails](
	[InventoryDetailID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ZoneID] [int] NULL,
	[ExpectedQuantity] [int] NOT NULL,
	[ActualQuantity] [int] NOT NULL,
	[Discrepancy]  AS ([ActualQuantity]-[ExpectedQuantity]) PERSISTED,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[InvoiceItemID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ExpectedQuantity] [int] NOT NULL,
	[ReceivedQuantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice]  AS ([ReceivedQuantity]*[UnitPrice]) PERSISTED,
	[DiscrepancyReason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[ExpectedDeliveryDate] [date] NOT NULL,
	[ActualDeliveryDate] [datetime2](7) NULL,
	[ShiftID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[Notes] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](100) NOT NULL,
	[BaseSalary] [decimal](10, 2) NOT NULL,
	[Responsibilities] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMovementHistory]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMovementHistory](
	[MovementID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[MovementType] [nvarchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[SourceDocumentID] [int] NULL,
	[SourceDocumentType] [nvarchar](20) NOT NULL,
	[MovementDate] [datetime2](7) NOT NULL,
	[ZoneID] [int] NULL,
	[EmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[SalaryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[BaseAmount] [decimal](10, 2) NOT NULL,
	[Bonus] [decimal](10, 2) NULL,
	[Penalty] [decimal](10, 2) NULL,
	[TotalAmount]  AS (([BaseAmount]+[Bonus])-[Penalty]) PERSISTED,
	[PaymentDate] [date] NULL,
	[IsPaid] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ShiftStart] [datetime2](7) NOT NULL,
	[ShiftEnd] [datetime2](7) NULL,
	[CashRegisterID] [nvarchar](20) NULL,
	[SupervisorID] [int] NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockBalances]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockBalances](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ZoneID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[LastUpdated] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[ContractNumber] [nvarchar](50) NULL,
	[ContractDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[LastLogin] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[Password] [nvarchar](50) NOT NULL,
	[PhotoPath] [nvarchar](255) NULL,
 CONSTRAINT [PK__Users__1788CCAC7E5A2DBC] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserViews]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserViews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[SelectedColumns] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserViews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseZones]    Script Date: 27.02.2026 10:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseZones](
	[ZoneID] [int] IDENTITY(1,1) NOT NULL,
	[ZoneName] [nvarchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ParentCategoryID]) VALUES (1, N'Бытовая техника', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ParentCategoryID]) VALUES (2, N'Компьютеры и ноутбуки', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ParentCategoryID]) VALUES (3, N'Телевизоры и аудио', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [MiddleName], [PositionID], [HireDate], [Phone], [Email], [Address], [PassportData], [INN], [IsActive], [PhotoPath], [PhotoData]) VALUES (1, N'Смирнов', N'Алексей', N'Иванович', 1, CAST(N'2023-05-10' AS Date), N'+7 (915) 111-22-33', N'a.smirnov@mail.ru', N'г. Москва, ул. Авиамоторная, д. 5, кв. 12', N'4510 123456', N'770112345678', 1, NULL, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [MiddleName], [PositionID], [HireDate], [Phone], [Email], [Address], [PassportData], [INN], [IsActive], [PhotoPath], [PhotoData]) VALUES (2, N'Петрова', N'Елена', N'Дмитриевна', 2, CAST(N'2023-06-15' AS Date), N'+7 (916) 222-33-44', N'e.petrova@mail.ru', N'г. Москва, ул. Профсоюзная, д. 30, кв. 45', N'4510 234567', N'770176543210', 1, N'EmployeePhotos\emp_2_20260221090324.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryActs] ON 

INSERT [dbo].[InventoryActs] ([InventoryID], [InventoryDate], [Description], [PerformedBy], [ZoneID], [Status]) VALUES (1, CAST(N'2026-01-30T10:00:00.0000000' AS DateTime2), N'Ежемесячная инвентаризация склада', 5, 1, N'Завершена')
INSERT [dbo].[InventoryActs] ([InventoryID], [InventoryDate], [Description], [PerformedBy], [ZoneID], [Status]) VALUES (2, CAST(N'2026-01-30T14:00:00.0000000' AS DateTime2), N'Ежемесячная инвентаризация склада', 5, 2, N'Завершена')
INSERT [dbo].[InventoryActs] ([InventoryID], [InventoryDate], [Description], [PerformedBy], [ZoneID], [Status]) VALUES (3, CAST(N'2026-02-12T16:45:00.0000000' AS DateTime2), N'Проверка после поступления брака', 5, 2, N'Завершена')
SET IDENTITY_INSERT [dbo].[InventoryActs] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryDetails] ON 

INSERT [dbo].[InventoryDetails] ([InventoryDetailID], [InventoryID], [ProductID], [ZoneID], [ExpectedQuantity], [ActualQuantity], [Notes]) VALUES (1, 1, 1, 1, 10, 10, NULL)
INSERT [dbo].[InventoryDetails] ([InventoryDetailID], [InventoryID], [ProductID], [ZoneID], [ExpectedQuantity], [ActualQuantity], [Notes]) VALUES (2, 1, 2, 1, 6, 6, NULL)
INSERT [dbo].[InventoryDetails] ([InventoryDetailID], [InventoryID], [ProductID], [ZoneID], [ExpectedQuantity], [ActualQuantity], [Notes]) VALUES (3, 1, 3, 1, 4, 4, NULL)
SET IDENTITY_INSERT [dbo].[InventoryDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceItems] ON 

INSERT [dbo].[InvoiceItems] ([InvoiceItemID], [InvoiceID], [ProductID], [ExpectedQuantity], [ReceivedQuantity], [UnitPrice], [DiscrepancyReason]) VALUES (1, 1, 1, 5, 5, CAST(35000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[InvoiceItems] ([InvoiceItemID], [InvoiceID], [ProductID], [ExpectedQuantity], [ReceivedQuantity], [UnitPrice], [DiscrepancyReason]) VALUES (2, 1, 2, 3, 3, CAST(42000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[InvoiceItems] ([InvoiceItemID], [InvoiceID], [ProductID], [ExpectedQuantity], [ReceivedQuantity], [UnitPrice], [DiscrepancyReason]) VALUES (3, 1, 3, 2, 2, CAST(55000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[InvoiceItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [SupplierID], [InvoiceNumber], [InvoiceDate], [ExpectedDeliveryDate], [ActualDeliveryDate], [ShiftID], [Status], [CreatedBy], [CreatedDate], [Notes]) VALUES (1, 1, N'ТН-2026-001', CAST(N'2026-02-01' AS Date), CAST(N'2026-02-05' AS Date), CAST(N'2026-02-05T11:30:00.0000000' AS DateTime2), 1, N'Принята полностью', 5, CAST(N'2026-02-16T15:08:07.0533333' AS DateTime2), N'Поставка холодильников и стиральных машин')
INSERT [dbo].[Invoices] ([InvoiceID], [SupplierID], [InvoiceNumber], [InvoiceDate], [ExpectedDeliveryDate], [ActualDeliveryDate], [ShiftID], [Status], [CreatedBy], [CreatedDate], [Notes]) VALUES (2, 2, N'ТН-2026-015', CAST(N'2026-02-03' AS Date), CAST(N'2026-02-08' AS Date), CAST(N'2026-02-08T14:20:00.0000000' AS DateTime2), 3, N'Принята полностью', 5, CAST(N'2026-02-16T15:08:07.0533333' AS DateTime2), N'Поставка телевизоров Sony и LG')
INSERT [dbo].[Invoices] ([InvoiceID], [SupplierID], [InvoiceNumber], [InvoiceDate], [ExpectedDeliveryDate], [ActualDeliveryDate], [ShiftID], [Status], [CreatedBy], [CreatedDate], [Notes]) VALUES (3, 3, N'ТН-2026-042', CAST(N'2026-02-05' AS Date), CAST(N'2026-02-10' AS Date), CAST(N'2026-02-10T10:15:00.0000000' AS DateTime2), 2, N'Принята полностью', 5, CAST(N'2026-02-16T15:08:07.0533333' AS DateTime2), N'Поставка ноутбуков и планшетов')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [PositionName], [BaseSalary], [Responsibilities]) VALUES (1, N'Директор магазина', CAST(120000.00 AS Decimal(10, 2)), N'Общее руководство магазином, контроль показателей')
INSERT [dbo].[Positions] ([PositionID], [PositionName], [BaseSalary], [Responsibilities]) VALUES (2, N'Заместитель директора', CAST(90000.00 AS Decimal(10, 2)), N'Операционное управление, работа с персоналом')
INSERT [dbo].[Positions] ([PositionID], [PositionName], [BaseSalary], [Responsibilities]) VALUES (3, N'Старший кассир', CAST(55000.00 AS Decimal(10, 2)), N'Руководство сменой, работа с денежными средствами')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductMovementHistory] ON 

INSERT [dbo].[ProductMovementHistory] ([MovementID], [ProductID], [MovementType], [Quantity], [SourceDocumentID], [SourceDocumentType], [MovementDate], [ZoneID], [EmployeeID]) VALUES (1, 1, N'Приход', 5, 1, N'Накладная', CAST(N'2026-02-05T11:35:00.0000000' AS DateTime2), 1, 5)
INSERT [dbo].[ProductMovementHistory] ([MovementID], [ProductID], [MovementType], [Quantity], [SourceDocumentID], [SourceDocumentType], [MovementDate], [ZoneID], [EmployeeID]) VALUES (2, 2, N'Приход', 3, 1, N'Накладная', CAST(N'2026-02-05T11:36:00.0000000' AS DateTime2), 1, 5)
INSERT [dbo].[ProductMovementHistory] ([MovementID], [ProductID], [MovementType], [Quantity], [SourceDocumentID], [SourceDocumentType], [MovementDate], [ZoneID], [EmployeeID]) VALUES (3, 3, N'Приход', 2, 1, N'Накладная', CAST(N'2026-02-05T11:37:00.0000000' AS DateTime2), 1, 5)
SET IDENTITY_INSERT [dbo].[ProductMovementHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Barcode], [Manufacturer], [Model], [UnitPrice], [WarrantyMonths], [MinStockLevel], [Description]) VALUES (1, N'Холодильник Samsung RB-37', 4, N'8801643701125', N'Samsung', N'RB-37 J5200SA', CAST(45999.00 AS Decimal(10, 2)), 24, 3, N'Двухкамерный холодильник с системой No Frost')
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Barcode], [Manufacturer], [Model], [UnitPrice], [WarrantyMonths], [MinStockLevel], [Description]) VALUES (2, N'Холодильник LG GA-B459', 4, N'8806091552341', N'LG', N'GA-B459 SQGL', CAST(52999.00 AS Decimal(10, 2)), 24, 2, N'Инверторный компрессор, линейный охлаждение')
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Barcode], [Manufacturer], [Model], [UnitPrice], [WarrantyMonths], [MinStockLevel], [Description]) VALUES (3, N'Стиральная машина Bosch WLR', 5, N'4242002703456', N'Bosch', N'WLR 245H2OE', CAST(69999.00 AS Decimal(10, 2)), 36, 2, N'Стиральная машина с сушкой, загрузка 9 кг')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Salaries] ON 

INSERT [dbo].[Salaries] ([SalaryID], [EmployeeID], [PeriodStart], [PeriodEnd], [BaseAmount], [Bonus], [Penalty], [PaymentDate], [IsPaid]) VALUES (1, 1, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-31' AS Date), CAST(120000.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2026-02-05' AS Date), 1)
INSERT [dbo].[Salaries] ([SalaryID], [EmployeeID], [PeriodStart], [PeriodEnd], [BaseAmount], [Bonus], [Penalty], [PaymentDate], [IsPaid]) VALUES (2, 2, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-31' AS Date), CAST(90000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2026-02-05' AS Date), 1)
INSERT [dbo].[Salaries] ([SalaryID], [EmployeeID], [PeriodStart], [PeriodEnd], [BaseAmount], [Bonus], [Penalty], [PaymentDate], [IsPaid]) VALUES (3, 3, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-31' AS Date), CAST(45000.00 AS Decimal(10, 2)), CAST(5000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2026-02-05' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Salaries] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleItems] ON 

INSERT [dbo].[SaleItems] ([SaleItemID], [SaleID], [ProductID], [BarcodeScanned], [Quantity], [UnitPrice]) VALUES (1, 1, 1, N'8801643701125', 1, CAST(45999.00 AS Decimal(10, 2)))
INSERT [dbo].[SaleItems] ([SaleItemID], [SaleID], [ProductID], [BarcodeScanned], [Quantity], [UnitPrice]) VALUES (2, 1, 2, N'8806091552341', 1, CAST(52999.00 AS Decimal(10, 2)))
INSERT [dbo].[SaleItems] ([SaleItemID], [SaleID], [ProductID], [BarcodeScanned], [Quantity], [UnitPrice]) VALUES (3, 1, 15, N'1942522765432', 1, CAST(47000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SaleItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [SaleDateTime], [ShiftID], [EmployeeID], [TotalAmount], [PaymentMethod], [CashRegisterID], [FiscalDocumentNumber]) VALUES (1, CAST(N'2026-02-14T10:15:00.0000000' AS DateTime2), 1, 3, CAST(145998.00 AS Decimal(12, 2)), N'Карта', N'CAS-001', N'ФД-000000001')
INSERT [dbo].[Sales] ([SaleID], [SaleDateTime], [ShiftID], [EmployeeID], [TotalAmount], [PaymentMethod], [CashRegisterID], [FiscalDocumentNumber]) VALUES (2, CAST(N'2026-02-14T11:30:00.0000000' AS DateTime2), 1, 3, CAST(52999.00 AS Decimal(12, 2)), N'Карта', N'CAS-001', N'ФД-000000002')
INSERT [dbo].[Sales] ([SaleID], [SaleDateTime], [ShiftID], [EmployeeID], [TotalAmount], [PaymentMethod], [CashRegisterID], [FiscalDocumentNumber]) VALUES (3, CAST(N'2026-02-14T12:45:00.0000000' AS DateTime2), 2, 4, CAST(189999.00 AS Decimal(12, 2)), N'Онлайн', N'CAS-002', N'ФД-000000003')
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[Shifts] ON 

INSERT [dbo].[Shifts] ([ShiftID], [EmployeeID], [ShiftStart], [ShiftEnd], [CashRegisterID], [SupervisorID], [Notes]) VALUES (1, 3, CAST(N'2026-02-14T09:00:00.0000000' AS DateTime2), CAST(N'2026-02-14T18:00:00.0000000' AS DateTime2), N'CAS-001', 6, N'Дневная смена')
INSERT [dbo].[Shifts] ([ShiftID], [EmployeeID], [ShiftStart], [ShiftEnd], [CashRegisterID], [SupervisorID], [Notes]) VALUES (2, 4, CAST(N'2026-02-14T09:00:00.0000000' AS DateTime2), CAST(N'2026-02-14T18:00:00.0000000' AS DateTime2), N'CAS-002', 6, N'Дневная смена')
INSERT [dbo].[Shifts] ([ShiftID], [EmployeeID], [ShiftStart], [ShiftEnd], [CashRegisterID], [SupervisorID], [Notes]) VALUES (3, 6, CAST(N'2026-02-14T09:00:00.0000000' AS DateTime2), CAST(N'2026-02-14T18:00:00.0000000' AS DateTime2), N'CAS-003', 6, N'Смена старшего кассира')
SET IDENTITY_INSERT [dbo].[Shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[StockBalances] ON 

INSERT [dbo].[StockBalances] ([StockID], [ProductID], [ZoneID], [Quantity], [LastUpdated]) VALUES (1, 1, 1, 7, CAST(N'2026-02-15T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[StockBalances] ([StockID], [ProductID], [ZoneID], [Quantity], [LastUpdated]) VALUES (2, 2, 1, 4, CAST(N'2026-02-15T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[StockBalances] ([StockID], [ProductID], [ZoneID], [Quantity], [LastUpdated]) VALUES (3, 3, 1, 3, CAST(N'2026-02-18T11:04:33.1910601' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StockBalances] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Email], [Address], [ContractNumber], [ContractDate]) VALUES (1, N'ООО "ТехноИмпорт"', N'Иванов Петр Сергеевич', N'+7 (495) 123-45-67', N'info@technoimport.ru', N'г. Москва, ул. Ленина, д. 10', N'Д-2025-001', CAST(N'2025-01-15' AS Date))
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Email], [Address], [ContractNumber], [ContractDate]) VALUES (2, N'АО "Электроника Дистрибьюшн"', N'Соколова Елена Викторовна', N'+7 (812) 234-56-78', N'sales@eldis.ru', N'г. Санкт-Петербург, пр. Невский, д. 25', N'Д-2025-042', CAST(N'2025-02-20' AS Date))
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Email], [Address], [ContractNumber], [ContractDate]) VALUES (3, N'ООО "Компьютерный мир"', N'Козлов Дмитрий Андреевич', N'+7 (343) 345-67-89', N'order@compworld.ru', N'г. Екатеринбург, ул. Малышева, д. 50', N'Д-2025-078', CAST(N'2025-03-05' AS Date))
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [EmployeeID], [Login], [Role], [LastLogin], [IsActive], [Password], [PhotoPath]) VALUES (11, 1, N'a.smirnov', N'Администратор', CAST(N'2026-02-15T09:23:15.0000000' AS DateTime2), 1, N'admin123', NULL)
INSERT [dbo].[Users] ([UserID], [EmployeeID], [Login], [Role], [LastLogin], [IsActive], [Password], [PhotoPath]) VALUES (12, 2, N'e.petrova', N'Администратор', CAST(N'2026-02-15T08:45:30.0000000' AS DateTime2), 1, N'admin123', NULL)
INSERT [dbo].[Users] ([UserID], [EmployeeID], [Login], [Role], [LastLogin], [IsActive], [Password], [PhotoPath]) VALUES (13, 3, N's.ivanov', N'Кассир', CAST(N'2026-02-15T10:15:22.0000000' AS DateTime2), 1, N'pass123', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserViews] ON 

INSERT [dbo].[UserViews] ([Id], [Name], [TableName], [SelectedColumns], [CreatedDate]) VALUES (1, N'Сотрудники', N'Сотрудники', N'EmployeeID,PositionID,Address,Email,FullName,Phone', CAST(N'2026-02-26T12:19:17.6862547' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserViews] OFF
GO
SET IDENTITY_INSERT [dbo].[WarehouseZones] ON 

INSERT [dbo].[WarehouseZones] ([ZoneID], [ZoneName], [Capacity], [Description]) VALUES (1, N'Зона А-1 (Крупная техника)', 500, N'Холодильники, стиральные машины')
INSERT [dbo].[WarehouseZones] ([ZoneID], [ZoneName], [Capacity], [Description]) VALUES (2, N'Зона А-2 (Мелкая техника)', 800, N'Пылесосы, кофеварки')
INSERT [dbo].[WarehouseZones] ([ZoneID], [ZoneName], [Capacity], [Description]) VALUES (3, N'Зона Б-1 (Компьютерная техника)', 600, N'Ноутбуки, мониторы')
SET IDENTITY_INSERT [dbo].[WarehouseZones] OFF
GO
/****** Object:  Index [IX_InventoryDetails_Inventory]    Script Date: 27.02.2026 10:09:27 ******/
CREATE NONCLUSTERED INDEX [IX_InventoryDetails_Inventory] ON [dbo].[InventoryDetails]
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_Date]    Script Date: 27.02.2026 10:09:27 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Date] ON [dbo].[Invoices]
(
	[InvoiceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Position__E46AEF4217118DC9]    Script Date: 27.02.2026 10:09:27 ******/
ALTER TABLE [dbo].[Positions] ADD UNIQUE NONCLUSTERED 
(
	[PositionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__177800D35017E636]    Script Date: 27.02.2026 10:09:27 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sales_Date]    Script Date: 27.02.2026 10:09:27 ******/
CREATE NONCLUSTERED INDEX [IX_Sales_Date] ON [dbo].[Sales]
(
	[SaleDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__StockBal__F20DA0956A475586]    Script Date: 27.02.2026 10:09:27 ******/
ALTER TABLE [dbo].[StockBalances] ADD UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockBalances_Product]    Script Date: 27.02.2026 10:09:27 ******/
CREATE NONCLUSTERED INDEX [IX_StockBalances_Product] ON [dbo].[StockBalances]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockBalances_Zone]    Script Date: 27.02.2026 10:09:27 ******/
CREATE NONCLUSTERED INDEX [IX_StockBalances_Zone] ON [dbo].[StockBalances]
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B8837C1D0]    Script Date: 27.02.2026 10:09:27 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__5E55825B8837C1D0] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__7AD04FF0A3B63FFC]    Script Date: 27.02.2026 10:09:27 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__7AD04FF0A3B63FFC] UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Warehous__EE0DD16810FBBF2D]    Script Date: 27.02.2026 10:09:27 ******/
ALTER TABLE [dbo].[WarehouseZones] ADD UNIQUE NONCLUSTERED 
(
	[ZoneName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InventoryActs] ADD  DEFAULT (getdate()) FOR [InventoryDate]
GO
ALTER TABLE [dbo].[InventoryActs] ADD  DEFAULT ('? ????????') FOR [Status]
GO
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT ((0)) FOR [ReceivedQuantity]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('??????? ???????') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductMovementHistory] ADD  DEFAULT (getdate()) FOR [MovementDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((12)) FOR [WarrantyMonths]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((5)) FOR [MinStockLevel]
GO
ALTER TABLE [dbo].[Salaries] ADD  DEFAULT ((0)) FOR [Bonus]
GO
ALTER TABLE [dbo].[Salaries] ADD  DEFAULT ((0)) FOR [Penalty]
GO
ALTER TABLE [dbo].[Salaries] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [SaleDateTime]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT (getdate()) FOR [ShiftStart]
GO
ALTER TABLE [dbo].[StockBalances] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[StockBalances] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__59FA5E80]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Password__14270015]  DEFAULT ('password') FOR [Password]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([ParentCategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[InventoryActs]  WITH CHECK ADD FOREIGN KEY([PerformedBy])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[InventoryActs]  WITH CHECK ADD FOREIGN KEY([ZoneID])
REFERENCES [dbo].[WarehouseZones] ([ZoneID])
GO
ALTER TABLE [dbo].[InventoryDetails]  WITH CHECK ADD FOREIGN KEY([InventoryID])
REFERENCES [dbo].[InventoryActs] ([InventoryID])
GO
ALTER TABLE [dbo].[InventoryDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[InventoryDetails]  WITH CHECK ADD FOREIGN KEY([ZoneID])
REFERENCES [dbo].[WarehouseZones] ([ZoneID])
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shifts] ([ShiftID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[ProductMovementHistory]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[ProductMovementHistory]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductMovementHistory]  WITH CHECK ADD FOREIGN KEY([ZoneID])
REFERENCES [dbo].[WarehouseZones] ([ZoneID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SaleID])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shifts] ([ShiftID])
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD FOREIGN KEY([SupervisorID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[StockBalances]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[StockBalances]  WITH CHECK ADD FOREIGN KEY([ZoneID])
REFERENCES [dbo].[WarehouseZones] ([ZoneID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__EmployeeI__72C60C4A] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__EmployeeI__72C60C4A]
GO
ALTER TABLE [dbo].[InventoryDetails]  WITH CHECK ADD CHECK  (([ActualQuantity]>=(0)))
GO
ALTER TABLE [dbo].[InventoryDetails]  WITH CHECK ADD CHECK  (([ExpectedQuantity]>=(0)))
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD CHECK  (([ExpectedQuantity]>(0)))
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD CHECK  (([ReceivedQuantity]>=(0)))
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Positions]  WITH CHECK ADD CHECK  (([BaseSalary]>=(0)))
GO
ALTER TABLE [dbo].[ProductMovementHistory]  WITH CHECK ADD CHECK  (([Quantity]<>(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([MinStockLevel]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([WarrantyMonths]>=(0)))
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [CHK_Period] CHECK  (([PeriodEnd]>[PeriodStart]))
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [CHK_Period]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD CHECK  (([BaseAmount]>=(0)))
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD CHECK  (([Bonus]>=(0)))
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD CHECK  (([Penalty]>=(0)))
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CHK_Shift] CHECK  (([ShiftEnd] IS NULL OR [ShiftEnd]>[ShiftStart]))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CHK_Shift]
GO
ALTER TABLE [dbo].[StockBalances]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[WarehouseZones]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
USE [master]
GO
